<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>This is home page</h1>
<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> User</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td><span th:text="${user.id}"> ID </span></td>
        <td><span th:text="${user.username}"> User </span></td>
        <td>
            <form th:action="@{/home/delete/{id}(id=${user.id})}">
                <button>
                    <img alt="" th:src="@{../img/untitled.jpg}" src="../img/untitled.jpg" style="vertical-align: middle" width="15" >
                    delete
                </button>
            </form>
        </td>

        <img alt="" src="../img/untitled.jpg" th:attr="src=@{}" style="vertical-align: middle">


    </tr>
    </tbody>
    <form>Log Out</form>
</table>
</body>
</html>